abbrev_defs
ac-comphist.dat
bookmarks
ede-projects.el
ido.last
.mc-lists.el
network-security.data
projectile-bookmarks.eld
projectile.cache
session.*
tramp
/auto-save-list/
/backups/
/elpa/
/eshell/
/games/
/.python-environments/
/request/
/url/
/irony/
